/* * {
  box-sizing: border-box;
}*/
body{
  font-size: 2em;
  word-wrap: break-word;
  overflow: hidden;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 10px #000;
  color: white;
}

#map {
  height: 700px;
}

.container {
  background-color: Lavender;
}

li:hover {
  background-color: Lavender;
}

li {
  border-bottom: 1px solid black;
  padding: 4px;
}

ul {
  background-color: rgba(255,255,255,0.7);
}

@media screen and (min-width:1px)and (max-width: 450px){
  body {
    font-size: 1.2em;
  }
  h1{
    font-size: 1.2em;
  }
  h5{
    font-size: 1.0em;
  }
  li{
    font-size: 0.4em;
  }
}

@media screen and (min-width:451px) and (max-width: 1000px){
  body {
    font-size: 1.5em;
  }
  h1{
    font-size: 1.4em;
  }
  h5{
    font-size: 1.2em;
  }
  li{
    font-size: 0.6em;
  }
}

@media screen and (min-width:1001px) and (max-width: 1296px) {
  body{
    font-size: 1.8em;
  }
  h1{
    font-size: 1.8em;
  }  
   h5{
    font-size: 1.4em;
  } 
  li{
    font-size: 0.8em;
  } 
}

