* {
  box-sizing: border-box;
}

h/*tml,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/
body{
  font-size: 2em;
  word-wrap: break-word;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px 10px #000;
  color: white;
}
#map {
  height: 700px;
}

.container {
  background-color: Lavender;

}


li:hover {
    background-color: Lavender;

}


li {

  border-bottom: 1px solid black;

  padding: 4px;

}

ul {
  background-color: rgba(255,255,255,0.7);

}

/*input {
  position: fixed;
  //right: 10px;
  //bottom: 30%;
  height: 40px;
  width: 200px;
  z-index: 5;
  //opacity: 0.5;
  font-size: 20px;
}

#list-view {
  position: fixed;
  //top: 20px;
  right: 10px;
  width: 200px;
  height: 40px;
  z-index: 5;
  font-size:20px;
  background-color: #fff;
}*/

/*li {
  position:fixed;
  margin-left: 10px;
  padding: 2px 0;
  z-index:5;
  font: 12px sans-serif;
}*/

@media screen and (min-width:1px)and (max-width: 450px){
  
  body {
    font-size: 1.2em;
  }
  h1{
    font-size: 1.2em;
  }
  h5{
    font-size: 1.0em;
  }
}


@media screen and (min-width:451px) and (max-width: 1000px){
  body {
    font-size: 1.5em;
  }
  h1{
    font-size: 1.4em;
  }
  h5{
    font-size: 1.2em;
  }
}


@media screen and (min-width:1001px) and (max-width: 1296px) {
  body{
    font-size: 1.8em;
  }
  h1{
    font-size: 1.8em;
  }  
   h5{
    font-size: 1.4em;
  }  
}

